{% extends 'layout.html' %}
	
	{% block body %}
	<body class="container text-justify">
	<br>
	<h1><center>USER DASHBOARD</center></h1>


			<div class="jumbotron">

<div>
				<p style="font-size: 20px; color: blue; font-style: italic;">
				Dear <b> {{session.s_name}} </b>,<br> 
				<h5>Steps to be followed: </h5><br>
				<i class="fas fa-check"></i> Please make sure the contact details you have provided are correct.<br>
				

				<i class="fas fa-check"></i>  Make sure to insert appropriate data inside your essay body.<br>
				<i class="fas fa-check"></i> You may delete your essays using <b>Delete</b> option.<br>
				<i class="far fa-smile"></i> Your efforts are definitely appreciated. Thank you, {{session.s_name}}!

				</p>
				


</div>

					<table class="table table-striped table-bordered table-sm">

						<tr>
							
							<th> Title</th>
							<th> Author</th>
							<th> Date</th>
							<th> Body</th>
							<th></th>
							<th></th>

					</tr>
								<center>								<a class="btn btn-success mr-5" href="/add_review"> <i class="fas fa-plus"></i> CLICK TO PUBLISH NOW</a>
	</center><br><br>

					{% for review in reviews %}
					<tr>
					<td> {{review.title}} </td>
					<td> {{review.author}} </td>
					<td> {{review.create_date}} </td>
					<td> {{review.body | safe}} </td>

					<td>
					<a href="edit_review/{{review.id}}" class="btn btn-primary pull-right">Edit</a></td>
					<td>
			
				<td>
					<form action="{{url_for('delete_review', id=review.id)}}" method="post">
					<input type="submit" name="Delete" value="Delete" class="btn btn-danger">
					</form>
				</td>

					</tr>
					{% endfor %}
					</table>
			</div>
</body>
			<br>
{% endblock %}
	
