{% extends 'layout.html' %}
{% block body %}
<br><br>
<div class="container">
<h1>Edit Book Reviews </h1>
<small><i>Edit  Here</i></small>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST">
	<div class="form-group">
		{{ render_field(form.title, class_="form-control") }}
	</div>
	<div class="form-group">
		{{ render_field(form.summary, class_='form-control') }}
	</div>
	<div class="form-group">
		{{ render_field(form.body, class_='form-control', id="editor") }}
	</div>

	<p><input class="btn btn-primary" type="submit"  value="Save Changes"></p>
	</form>
</div>
	{% endblock %}
